@import "./global.variables.scss";

.body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: $font-size-xxlarge;
    color: $color-dark;
  }
  h2 {
    font-size: $font-size-xlarge;
    color: $color-dark;
  }
  p {
    color: $color-dark;
    &.pMedium {
      font-size: $font-size-medium;
    }
    &.pSmall {
      font-size: $font-size-small;
      font-weight: 600;
    }
    &.pLarge {
      font-size: $font-size-large;
    }
    &.pXLarge {
      font-size: $font-size-xlarge;
    }
  }
}

.cPrimary {
  color: $color-primary;
  &:hover {
    opacity: 0.8;
  }
}

.bgPrimary {
  background-color: $color-primary;
}

.cSecondary {
  color: $color-secondary;
  &:hover {
    opacity: 0.8;
  }
}

.bgSecondary {
  background-color: $color-secondary;
}

.cSuccess {
  color: $color-success;
  &:hover {
    opacity: 0.8;
  }
}

.bgSuccess {
  background-color: $color-success;
}

.cDanger {
  color: $color-danger;
  &:hover {
    opacity: 0.8;
  }
}

.bgDanger {
  background-color: $color-danger;
}

.cWarning {
  color: $color-warning;
  &:hover {
    opacity: 0.8;
  }
}

.bgWarning {
  background-color: $color-warning;
}

.cSeethrough {
  color: $color-primary-seethrough;
  &:hover {
    opacity: 0.8;
  }
}

.bgSeethrough {
  background-color: $color-primary-seethrough;
}

.cInfo {
  color: $color-info;
  &:hover {
    opacity: 0.8;
  }
}

.bgInfo {
  background-color: $color-info;
}

.default {
  margin: 0;
  padding: 0;
  font-size: 16px;
  main {
    margin-top: ($grid-gutter + 8px);
  }
}

@mixin col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: $grid-gutter / 2;
}

.col {
  @include col;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -($grid-gutter / 2);
  margin-right: -($grid-gutter / 2);
  margin-bottom: -($grid-gutter / 2);
  margin-top: ($grid-gutter / 2);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
  width: calc(100% - 2 * $grid-gutter);

  @media (min-width: $breakpoint-small) {
    max-width: $breakpoint-small;
  }

  @media (min-width: $breakpoint-medium) {
    max-width: $breakpoint-medium;
  }

  @media (min-width: $breakpoint-large) {
    max-width: $breakpoint-large;
  }

  @media (min-width: $breakpoint-xlarge) {
    max-width: $breakpoint-xlarge;
  }
}

/* Column width classes */
@for $i from 1 through 12 {
  .col#{$i} {
    @include col;
    flex: 0 0 calc(percentage(($i / 12)) - $grid-gutter);
  }
}

/* Responsive classes */
@for $i from 1 through 12 {
  @media (min-width: $breakpoint-small) {
    .colSm#{$i} {
      @include col;
      flex: 0 0 calc(percentage(($i / 12)) - $grid-gutter);
    }
  }
}
@for $i from 1 through 12 {
  @media (min-width: $breakpoint-medium) {
    .colMd#{$i} {
      @include col;
      flex: 0 0 calc(percentage(($i / 12)) - $grid-gutter);
    }
  }
}
@for $i from 1 through 12 {
  @media (min-width: $breakpoint-large) {
    .colLg#{$i} {
      @include col;
      flex: 0 0 calc(percentage(($i / 12)) - $grid-gutter);
    }
  }
}
@for $i from 1 through 12 {
  @media (min-width: $breakpoint-xlarge) {
    .colXl#{$i} {
      @include col;
      flex: 0 0 calc(percentage(($i / 12)) - $grid-gutter);
    }
  }
}

@for $i from 1 through 8 {
  .m#{$i} {
    margin: calc($i * ($grid-gutter / 4));
  }
  .mx#{$i} {
    margin: 0 calc($i * ($grid-gutter / 4));
  }
  .my#{$i} {
    margin: calc($i * ($grid-gutter / 4)) 0;
  }
  .mr#{$i} {
    margin-right: calc($i * ($grid-gutter / 4));
  }
  .ml#{$i} {
    margin-left: calc($i * ($grid-gutter / 4));
  }
  .mt#{$i} {
    margin-top: calc($i * ($grid-gutter / 4));
  }
  .mb#{$i} {
    margin-bottom: calc($i * ($grid-gutter / 4));
  }
  .p#{$i} {
    padding: calc($i * ($grid-gutter / 4));
  }
  .px#{$i} {
    padding: 0 calc($i * ($grid-gutter / 4));
  }
  .py#{$i} {
    padding: 0 calc($i * ($grid-gutter / 4));
  }
  .pr#{$i} {
    padding-right: calc($i * ($grid-gutter / 4));
  }
  .pl#{$i} {
    padding-left: calc($i * ($grid-gutter / 4));
  }
  .pt#{$i} {
    padding-top: calc($i * ($grid-gutter / 4));
  }
  .pb#{$i} {
    padding-bottom: calc($i * ($grid-gutter / 4));
  }
}

.mlAuto {
  margin-left: auto;
}
.mrAuto {
  margin-right: auto;
}

.action_box {
  &.action_box_open {
    background-color: $color-primary-seethrough;
  }
  border-radius: $rounded-small;
  padding: 16px;
  cursor: pointer;
  .banner {
    display: flex;
    justify-content: space-between;
  }
  &:hover {
    box-shadow: $shadow-medium;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: $color-secondary-variant;
  }

  &:disabled {
    background-color: $color-secondary-variant;
  }
}
