@import "../../globals.scss";

@mixin centerElement {
  transition: ease-in-out 0.2s color;
  text-decoration: none;
  padding: 4px 8px;
  cursor: pointer;
}

.primary {
  @include centerElement;
  color: $color-info;
  &:hover {
    color: $color-primary-variant;
  }
}

.secondary {
  @include centerElement;
  color: $color-warning;
  &:hover {
    color: $color-danger;
  }
}
